body {
    background-image: url("../images/background.jpg");
}

.wrapper {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.display {
    background: #fff;
    opacity: 0.8;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 25px;
    width: 40%;
}

#start-button,
#submit-button {
    cursor:pointer;
    /* background: blue;
    font-color: white; */
    height: 35px;
    width: 115px;
}

.image-size {
    height: 337.5px;
    width: 600px;
}

h1, h2, h3, p {
   font-family: Arial, Helvetica, sans-serif;
   text-align: center;
}

p {
    font-size: 18; 
}

.question,
.choice {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 8px;
}

.question {
    font-size: 30;
    font-weight: 700;
    margin-top: 20px;
}

.choice {
    cursor:pointer;
    font-size: 18;
}

#selectedChoice {
    background-color: blue;
    color: white;
    font-weight: 700;
}



